.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-btn-arrow {
  width: 12px;
  height: 12px;
}
.icon-btn-user {
  width: 12px;
  height: 12px;
}
.icon-popup-close {
  width: 15px;
  height: 15px;
}
