{{!Ui toolkit}}

{{> layout/head }}

<section class="ui">
    <header class="ui__title">
        <h1>UI Toolkit</h1>
    </header>

    <main class="ui__container">
        <aside class="ui__aside">
            <nav class="aside__inner">
                <ul class="aside__nav">
                    <li><button class="_link" data-id="ui-colors">Colors</button></li>
                    <li><button class="_link" data-id="ui-buttons">Buttons</button></li>
                    <li><button class="_link" data-id="ui-buttons-outline">Buttons Outline</button></li>
                    <li><button class="_link" data-id="ui-buttons-sizes">Buttons Sizes</button></li>
                    <li><button class="_link" data-id="ui-buttons-disabled">Buttons Disabled</button></li>
                    <li><button class="_link" data-id="ui-buttons-icons">Buttons Icons</button></li>
                    <li><button class="_link" data-id="ui-form">Forms</button></li>
                    <li><button class="_link" data-id="ui-popups">Popups</button></li>
                    <li><button class="_link" data-id="ui-loader">Loader</button></li>
                    <li><button class="_link" data-id="ui-loader-empty">Loader Empty</button></li>
                </ul>
            </nav>
        </aside>
        <section class="ui__main">
            {{> blocks/ui-section-start title='Colors' id='ui-colors'}}

            <div class="ui__colors">
                <div class="_item" style="background-color: #007bff;">
                    <span>#007bff</span>
                </div>
                <div class="_item" style="background-color: #868e96;">
                    <span>#868e96</span>
                </div>
                <div class="_item" style="background-color: #28a745;">
                    <span>#28a745</span>
                </div>
                <div class="_item" style="background-color: #dc3545;">
                    <span>#dc3545</span>
                </div>
                <div class="_item" style="background-color: #ffc107;">
                    <span>#ffc107</span>
                </div>
                <div class="_item" style="background-color: #17a2b8;">
                    <span>#17a2b8</span>
                </div>
                <div class="_item" style="background-color: #343a40;">
                    <span>#343a40</span>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Buttons' id='ui-buttons'}}

            <div class="btn-list">
                <div class="btn-list__item">
                    <button class="btn btn-primary">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-secondary">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-success">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-danger">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-warning">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-light">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-dark">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-primary btn-loading">Button</button>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Buttons Outline' id='ui-buttons-outline'}}

            <div class="btn-list">
                <div class="btn-list__item">
                    <button class="btn btn-outline-primary">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-secondary">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-success">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-danger">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-warning">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-light">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-dark">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-primary btn-loading">Button</button>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Buttons Sizes' id='ui-buttons-sizes'}}

            <div class="btn-list">
                <div class="btn-list__item">
                    <button class="btn btn-primary btn-lg">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-primary btn-small">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-primary btn-lg btn-loading">Button</button>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-primary btn-small btn-loading">Button</button>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Buttons Disabled' id='ui-buttons-disabled'}}

            <div class="btn-list">
                <div class="btn-list__item">
                    <button class="btn btn-primary" disabled>Button</button>
                </div>

                <div class="btn-list__item">
                    <a href="#" class="btn btn-primary disabled">Button</a>
                </div>

                <div class="btn-list__item">
                    <button class="btn btn-outline-primary" disabled>Button</button>
                </div>

                <div class="btn-list__item">
                    <a href="#" class="btn btn-outline-primary disabled">Button</a>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Forms' id='ui-forms'}}

            <div class="row">
                <div class="col-md-6">
                    {{> ui/input label='Example label' placeholder='Input placeholder'}}
                </div>

                <div class="col-md-6">
                    {{> ui/input label='Example label' input-class='form-error' error=1}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{> ui/input label='Example label' placeholder='Input disabled' disabled=1}}
                </div>

                <div class="col-md-6">
                    {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{> ui/radio id=1 name='radio1' label='Example label'}}
                    <br>
                    {{> ui/radio id=2 name='radio1' label='Example label' checked=1}}
                </div>

                <div class="col-md-6">
                    {{> ui/checkbox id=3 label='Example label'}}
                    <br>
                    {{> ui/checkbox id=4 label='Example label' checked=1}}
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Popups' id='ui-popups'}}

            <div class="btn-list">
                <div class="btn-list__item">
                    <button class="btn btn-primary" data-popup="example">Button</button>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Loader' id='ui-loader'}}

            <div class="loader">
                <div class="loader__circle">Loading...</div>

                <div class="row">
                    <div class="col-md-6">
                        {{> ui/input label='Example label' placeholder='Input placeholder'}}
                    </div>

                    <div class="col-md-6">
                        {{> ui/input label='Example label' input-class='form-error' error=1}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{> ui/input label='Example label' placeholder='Input disabled' disabled=1}}
                    </div>

                    <div class="col-md-6">
                        {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{> ui/radio id=1 name='radio1' label='Example label'}}
                        <br>
                        {{> ui/radio id=2 name='radio1' label='Example label' checked=1}}
                    </div>

                    <div class="col-md-6">
                        {{> ui/checkbox id=3 label='Example label'}}
                        <br>
                        {{> ui/checkbox id=4 label='Example label' checked=1}}
                    </div>
                </div>
            </div>

            {{> blocks/ui-section-end}}

            {{> blocks/ui-section-start title='Loader Empty' id='ui-loader-empty'}}

            <div class="loader loader--trans">
                <div class="loader__circle">Loading...</div>
            </div>

            {{> blocks/ui-section-end}}
        </section>
    </main>
</section>

{{> popups/example}}

<script>
    window.onload = () => {
        const $btn = $('.aside__nav').find('._link');

        $btn.on('click', function () {
            const id = $(this).data('id');

            $('html, body').animate({
                scrollTop: $(`#${id}`).offset().top
            }, 600);
        });
    };
</script>

{{> layout/bottom }}
